/* ------------------------ Common CSS ------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.common-font-color {
  color: #e95a08;
}

.primary-button {
  color: #ffffff;
  background-color: #e95a08;
  cursor: pointer;
  padding: 26px 50px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 270px;
  height: 66px;
  align-items: center;
  text-align: center;
}

.li-text-color {
  color: #8987a1;
}
/* Google font */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* ------------------------Custom CSS ------------------------*/

/* Navbar */
nav {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  width: 415px;
  justify-content: space-between;
}
.menu-li:nth-child(1) {
  color: #252432;
  font-weight: bold;
}

.menu-li:nth-child(2),
.menu-li:nth-child(3) {
  color: #8987a1;
}
/* main */
main {
  width: 1140px;
  margin: 0 auto;
}
/* banner */
.banner {
  width: 1140px;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 120px;
}
.banner-left {
  padding-top: 80px;
}
.banner-left h1 {
  font-size: 65px;
}
.banner-left p {
  font-size: 22px;
  color: #8987a1;
}

.banner-right img {
  display: block;
  width: 570px;
  height: 355px;
}

/* our plants */
.plants {
  padding-top: 120px;
}
.plants-title {
  text-align: center;
}
.plants-title h1 {
  font-size: 50px;
}
.plants-sub-title {
  width: 888px;
  margin: auto;
}
.plants-sub-title p {
  font-size: 22px;
  padding-bottom: 49px;
}

/* plants cards */
.plants-card-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}
.plants-card {
  height: 484.94px;
  width: 270px;
  padding-bottom: 83px;
}
.plants-card img {
  padding-bottom: 30px;
}
.plants-card p {
  text-align: center;
  font-size: 22px;
  padding-bottom: ;
}

.price-text {
  margin-bottom: 30px;
}

/* plants lover */

.plants-lover {
  width: 1140px;
  height: 597px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 210px;
}
.store-img {
  width: 540px;
  height: 597px;
}

.plants-lover-right {
  width: 540px;
  height: 521px;
  margin-left: 60px;
  text-decoration: none;
}
.plant-font {
  font-size: 50px;
  padding-bottom: 20px;
}
.plants-lover-right li {
  margin-left: 25px;
}
.plant-li-font {
  font-size: 22px;
  padding-bottom: 30px;
}
.plants-lover-left {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -150px;
  right: -95px;
}
.trusted-badge img {
  height: 286px;
  width: 286px;
  background: transparent;
}

/* deals */

.deals h1 {
  font-size: 50px;
}
.deals p {
  font-size: 22px;
  color: rgba(0, 0, 0, 50%);
}
.deals {
  width: 100%;
  text-align: center;
  padding-top: 310px;
}
.deals-images {
  height: 423px;
  width: 1140px;
  display: flex;
  margin: auto;
  padding-top: 30px;
}
.deals-image-top {
  background-image: url(./images/deal-bloom.png);
  height: 201px;
  width: 367px;
  border-radius: 14px;
  padding-bottom: 20px;
  filter: brightness(50%);
}
.deals-image-bottom {
  background-image: url(./images/deal-ana.png);
  height: 201px;
  width: 367px;
  border-radius: 14px;
  filter: brightness(50%);
  margin-top: 20px;
}
.deals-image-large {
  background-image: url(./images/deal-zabo.png);
  height: 423px;
  width: 753px;
  margin-left: 15px;
  filter: brightness(50%);
  border-radius: 14px;
}
/* subscribe */

.subscribe {
  background-image: url(./images/news-letter-bg.png);
  height: 533px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.subscribe h1 {
  background: transparent;
  color: #ffffff;
  font-size: 50px;
  padding-bottom: 23px;
}
.newsletter input {
  width: 644px;
  height: 50px;
  border: none;
}

.newsletter button {
  width: 186px;
}

/* footer */

.footer-container {
  width: 1120px;
  height: 248px;
  margin: auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

footer p {
  width: 359px;
  height: 81px;
  font-size: 22px;
  padding-top: 15px;
}
.footer-menu {
  display: flex;
}
.footer-menu-left li {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  padding-bottom: 32px;
  padding-right: 110px;
}

.footer-menu-right li {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  padding-bottom: 32px;
}

.social-media-icons img {
  padding-right: 24px;
  width: 60px;
  height: 36px;
}

/* responsive design */

@media (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  nav li:not(:last-child) {
    display: none;
  }
  main {
    max-width: 576px;
    margin: auto;
  }
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    padding-top: 0;
    width: 576px;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    width: 360px;
    padding-top: 10px;
    font-size: 14px;
  }
  .banner-right {
    width: 576px;
  }
  .banner-right img {
    width: 576px;
  }
  .banner-left {
    width: 576px;
    padding-left: 20px;
  }
  /* our plants  */
  .plants {
    padding-top: 65px;
  }
  .plants-title h1 {
    font-size: 24px;
  }
  .plants-title p {
    font-size: 14px;
  }
  .plants-card-all {
    grid-template-columns: repeat(2, 1fr);
  }
  .plants-sub-title {
    width: 576px;
  }
  .plants-sub-title p {
    width: 576px;
  }
  /* Plants lover section */

  .plants-lover {
    flex-direction: column;
    max-width: 576px;
  }

  .plants-lover-right {
    padding-left: 5px;
  }
  .plants-lover-right h1 {
    font-size: 24px;
    padding-right: 50px;
  }
  .plants-lover-right ul {
    width: 100%;
    padding-right: 50px;
  }
  .plants-lover-right li {
    font-size: 16px;
  }
  .plants-lover-left {
    padding-top: 250px;
  }
  .trusted-badge {
    display: none;
  }

  /* deals */
  .deals {
    width: 576px;
    text-align: center;
    justify-content: center;
  }
  .deals h1 {
    font-size: 24px;
  }
  .deals p {
    font-size: 16px;
    text-align: center;
  }
  .deals-images {
    display: none;
  }
  /* subscribe   */
  .subscribe {
    background-image: url(./images/news-letter-bg.png);
    height: 276px;
    width: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subscribe h1 {
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 23px;
  }
  .newsletter input {
    width: 218px;
    height: 50px;
    border: none;
  }

  .newsletter button {
    width: 150px;
    font-size: 16px;
  }
  /* footer  */

  .footer-container {
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
  }
  .footer-menu {
    flex-direction: column;
    margin-top: 30px;
  }
}
