/* ------------------------ Common CSS ------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}

.common-font-color {
  color: #e95a08;
}

.primary-button {
  color: #ffffff;
  background-color: #e95a08;
  cursor: pointer;
  padding: 26px 50px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 270px;
  height: 66px;
  align-items: center;
  text-align: center;
}

.li-text-color {
  color: #8987a1;
}
/* Google font */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* ------------------------Custom CSS ------------------------*/

/* Navbar */
nav {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  width: 415px;
  justify-content: space-between;
}
.menu-li:nth-child(1) {
  color: #252432;
  font-weight: bold;
}

.menu-li:nth-child(2),
.menu-li:nth-child(3) {
  color: #8987a1;
}
/* main */
main {
  width: 1140px;
  margin: 0 auto;
}
/* banner */
.banner {
  width: 1140px;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 120px;
}
.banner-left {
  padding-top: 80px;
}
.banner-left h1 {
  font-size: 65px;
}
.banner-left p {
  font-size: 22px;
  color: #8987a1;
}

.banner-right img {
  display: block;
  width: 570px;
  height: 355px;
}

/* our plants */
.plants {
  padding-top: 120px;
}
.plants-title {
  text-align: center;
}
.plants-title h1 {
  font-size: 50px;
}
.plants-sub-title {
  width: 888px;
  margin: auto;
}
.plants-sub-title p {
  font-size: 22px;
  padding-bottom: 49px;
}

/* plants cards */
.plants-card-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}
.plants-card {
  height: 484.94px;
  width: 270px;
  padding-bottom: 83px;
}
.plants-card img {
  padding-bottom: 30px;
}
.plants-card p {
  text-align: center;
  font-size: 22px;
  padding-bottom: ;
}

.price-text {
  margin-bottom: 30px;
}

/* plants lover */

.plants-lover {
  width: 1140px;
  height: 597px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 210px;
}
.store-img {
  width: 540px;
  height: 597px;
}

.plants-lover-right {
  width: 540px;
  height: 521px;
  margin-left: 60px;
  text-decoration: none;
}
.plant-font {
  font-size: 50px;
  padding-bottom: 20px;
}
.plants-lover-right li {
  margin-left: 25px;
}
.plant-li-font {
  font-size: 22px;
  padding-bottom: 30px;
}

/* deals */

.deals h1 {
  font-size: 50px;
}
.deals p {
  font-size: 22px;
}
.deals {
  width: 100%;
  text-align: center;
  padding-top: 310px;
}
.deals p {
  color: rgba(0, 0, 0, 50%);
}
.deals-images {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 1140px;
  height: 423px;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.deals-images-left-top {
  width: 367px;
  height: 201px;
  margin-bottom: 10px;
}
.deals-images-left-top img {
  border-radius: 14px;
  padding-bottom: 10px;
}
.deals-images-left-bottom img {
  border-radius: 14px;
}
.deals-images-right img {
  border-radius: 14px;
}
/* subscribe */

.subscribe {
  background-image: url(./images/news-letter-bg.png);
  height: 533px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe h1 {
  background: transparent;
  color: #ffffff;
  font-size: 50px;
  padding-bottom: 23px;
}
.newsletter input {
  width: 644px;
  height: 50px;
  border: none;
}

.newsletter button {
  width: 186px;
}

/* footer */

.footer-container {
  width: 1120px;
  height: 248px;
  margin: auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

footer p {
  width: 359px;
  height: 81px;
  font-size: 22px;
  padding-top: 15px;
}
.footer-menu {
  display: flex;
}
.footer-menu-left li {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  padding-bottom: 32px;
  padding-right: 110px;
}

.footer-menu-right li {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  padding-bottom: 32px;
}

.social-media-icons img {
  padding-right: 24px;
  width: 60px;
  height: 36px;
}

/* responsive design */

@media (max-width: 576px) {
  nav li:not(:last-child) {
    display: none;
  }
  .banner {
    flex-direction: column;
  }

  /* subscribe   */

  /* footer  */

  .footer-container {
    padding-left: 20px;
    flex-direction: column;
  }
  .footer-menu {
    flex-direction: column;
    margin-top: 30px;
  }
}
